---
import Skills from "./Skills.astro";
---

<div id="about-content" class="custom-scrollbar-2 bg-neutral-950 lg:rounded-xl h-full p-8 min-w-full flex flex-col gap-5 outline-2 outline-double outline-neutral-800 bg-opacity-90 transition-all ease-in-out duration-300 overflow-y-scroll">
  <p class="font-bold text-2xl">About</p>
    <div class="flex flex-col gap-3">
      <p>
        Hi! I'm Marcos Dorado, a software developer with a strong
        background in web technologies and Big Data. I'm currently completing a
        specialization course in AI and Big Data, strengthening my knowledge in
        data analysis, machine learning, and scalable technologies.
      </p>

      <p>
        I have experience in web development with HTML, CSS, JavaScript,
        Angular, PHP, Java, SpringBoot, Node.js, and Laravel, as well as SQL and
        NoSQL databases (MongoDB, InfluxDB, Neo4j, HBase, Cassandra).
        Additionally, I have worked with testing tools like Cypress and Selenium
        and data analysis frameworks such as Pandas, NumPy, Seaborn, and
        Sklearn.
      </p>

      <p>
        I'm motivated by continuous learning and solving complex problems
        through technology.
      </p>

      <p>
        I'm looking for opportunities to grow in the fields of development and
        artificial intelligence, contribute to innovative projects, and keep
        expanding my skills. If you'd like to know more about me or collaborate
        on a project, let’s connect!
      </p>
    </div>

    <div class="flex flex-col gap-5 max-h-96 md:max-h-72">
      <h1 class="font-bold text-2xl">Skills</h1>
      <div class="bg-neutral-900 rounded-xl w-full max-h-full flex flex-col flex-wrap gap-5 overflow-x-scroll overflow-hidden justify-center custom-scrollbar">
        <Skills />
      </div>
    </div>
  </div>