---
const HEADER = ["About", "Resume", "Portfolio", "Contact"];
---

{
  HEADER.map((section) =>
    section === "About" ? (
      <div class="hover:cursor-pointer w-full h-full justify-center flex items-center hover:text-zinc-500">
        <p class="text-cyan-600">
          {section}
        </p>
      </div>
    ) : (
      <div class="hover:cursor-pointer w-full h-full justify-center flex items-center hover:text-zinc-500">
        <p class="transition duration-300 ease-in-out">
          {section}
        </p>
      </div>
    )
  )
}
