---
const HEADER = ["About", "Resume", "Portfolio"];
---

{
  HEADER.map((section) =>
    section === "About" ? (
      <div id={section} class="hover:cursor-pointer w-full h-full justify-center flex items-center text-zinc-500">
        <p>
          {section}
        </p>
      </div>
    ) : (
      <div id={section} class="hover:cursor-pointer w-full h-full justify-center flex items-center hover:text-zinc-500 transition duration-300 ease-in-out">
        <p>
          {section}
        </p>
      </div>
    )
  )
}
