---
import AWSCloudFoundations from "./licenses_certs/AWSCloudFoundations.astro";
import AWSMLFoundations from "./licenses_certs/AWSMLFoundations.astro";
---

<div
  class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-neutral-900 dark:border-zinc-700"
>
  <time class="text-lg font-semibold text-gray-900 dark:text-white"
    >Licenses & Certifications</time
  >
  <ol class="mt-3 divide-y divide-gray-200 dark:divide-zinc-700">
    <AWSCloudFoundations />
    <AWSMLFoundations />
  </ol>
</div>
