---
import Scripts from "../components/Yscroll.astro";

import Html from "./icons/Html.astro";
import Angular from "./icons/Angular.astro";
import Spark from "./icons/Spark.astro";
import Cassandra from "./icons/Cassandra.astro";
import Cypress from "./icons/Cypress.astro";
import Css from "./icons/Css.astro";
import Git from "./icons/Git.astro";
import Hbase from "./icons/Hbase.astro";
import Influxdb from "./icons/Influxdb.astro";
import Java from "./icons/Java.astro";
import Javascript from "./icons/Javascript.astro";
import Laravel from "./icons/Laravel.astro";
import Mongo from "./icons/Mongo.astro";
import Neo4j from "./icons/Neo4j.astro";
import Nodejs from "./icons/Nodejs.astro";
import Numpy from "./icons/Numpy.astro";
import Pandas from "./icons/Pandas.astro";
import React from "./icons/React.astro";
import Seaborn from "./icons/Seaborn.astro";
import Sklearn from "./icons/Sklearn.astro";
import Springboot from "./icons/Springboot.astro";
import Mysql from "./icons/Mysql.astro";
import Php from "./icons/Php.astro";
import Python from "./icons/Python.astro";
import Selenium from "./icons/Selenium.astro";
import Figma from "./icons/Figma.astro";
import Tailwind from "./icons/Tailwind.astro";
import Sass from "./icons/Sass.astro";
import Docker from "./icons/Docker.astro";

const SKILLS = [
  {
    name: "HTML",
    svg: Html,
    color: "#E44D26",
  },
  {
    name: "CSS",
    svg: Css,
    color: "#264DE4",
  },
  {
    name: "Javascript",
    svg: Javascript,
    color: "#F7DF1E",
  },
  {
    name: "PHP",
    svg: Php,
    color: "#777BB4",
  },
  {
    name: "Python",
    svg: Python,
    color: "#FFD849",
  },
  {
    name: "Numpy",
    svg: Numpy,
    color: "#53AED1",
  },
  {
    name: "Pandas",
    svg: Pandas,
    color: "#E80C8C",
  },
  {
    name: "Seaborn",
    svg: Seaborn,
    color: "#4EABE1",
  },
  {
    name: "Sklearn",
    svg: Sklearn,
    color: "#F7931E",
  },
  {
    name: "Node.js",
    svg: Nodejs,
    color: "#339933",
  },
  {
    name: "Laravel",
    svg: Laravel,
    color: "#FF2D20",
  },
  {
    name: "SpringBoot",
    svg: Springboot,
    color: "#6DB33F",
  },
  {
    name: "Angular",
    svg: Angular,
    color: "#DD0031",
  },
  // {
    // name: "React",
    // svg: React,
    // color: "#61DAFB",
  // },
  {
    name: "Java",
    svg: Java,
    color: "#148DCB",
  },
  {
    name: "Figma",
    svg: Figma,
    color: "#A55EFF",
  },
  {
    name: "Git",
    svg: Git,
    color: "#F05032",
  },
  {
    name: "Docker",
    svg: Docker,
    color: "#2496ED",
  },
  {
    name: "Tailwind",
    svg: Tailwind,
    color: "#38B2AC",
  },
  {
    name: "Sass",
    svg: Sass,
    color: "#CC6699",
  },
  {
    name: "Spark",
    svg: Spark,
    color: "#E35F23",
  },
  {
    name: "Cassandra",
    svg: Cassandra,
    color: "#1287B1",
  },
  {
    name: "HBase",
    svg: Hbase,
    color: "red",
  },
  {
    name: "InfluxDB",
    svg: Influxdb,
    color: "#22ADF6",
  },
  {
    name: "MongoDB",
    svg: Mongo,
    color: "#47A248",
  },
  {
    name: "MySQL",
    svg: Mysql,
    color: "#4479A1",
  },
  {
    name: "Neo4j",
    svg: Neo4j,
    color: "#008CC1",
  },
  {
    name: "Selenium",
    svg: Selenium,
    color: "#43B02A",
  },
  {
    name: "Cypress",
    svg: Cypress,
    color: "#49BF96",
  },
];
---

{
  SKILLS.map((skill) => (
    <div
      class="h-2/5 w-1/5 max-w-20 flex flex-col items-center justify-center font-bold skill relative skill p-3"
      style="color: white; transition: 0.3s ease-in-out;"
      color={skill.color}
    >
      <p class="opacity-0 absolute top-0">
        {skill.name}
      </p>
      <skill.svg class="bg-white" />
    </div>
  ))
}

<Scripts />

<style>
  .skill svg {
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }
  
  .skill p {
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* padding: 5px; */
    /* border-radius: 10px; */
    /* text-shadow: 1 1 1px rgba(0, 0, 0, 1); */
  }
</style>
