---
import IABD from './studies/IABD.astro';
import DAW from './studies/DAW.astro';
import Bach from './studies/Bach.astro';
---

<div
  class="p-5 mb-4 border rounded-lg  bg-neutral-900 border-zinc-700"
>
  <time class="text-lg font-semibold text-white"
    >Studies</time
  >
  <ol class="mt-3 divide-y divide-zinc-700">
    <IABD />
    <DAW />
    <Bach />
  </ol>
</div>
