---
import Date from ".././icons/Date.astro";
import Centre from ".././icons/Centre.astro";
import EvidenImage from "../../assets/images/eviden.jpg";
import { Image } from "astro:assets";
---

<li>
  <a
    href="https://eviden.com/"
    class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-neutral-800"
  >
    <Image
      class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0"
      src={EvidenImage}
      alt="IES Almudeyne"
    />
    <div class="text-gray-600 dark:text-gray-400">
      <div class="text-base font-medium text-white">
        Software Quality Assurance Intern (Traineeship)
      </div>
      <div class="flex gap-3">
        <span class="text-sm font-normal flex gap-1"
          ><Centre />Eviden</span
        >
        <span
          class="inline-flex items-center text-xs font-normal text-gray-500 dark:text-gray-400 gap-1"
        >
          <Date />
          2024 March -  June
        </span>
      </div>
    </div>
  </a>
</li>