---
import Scripts from "../components/LocalScripts.astro";
---

<!doctype html>
<html id="html" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Marcos Dorado</title>
  </head>
  <body id="body" class="bg-zinc-950 lg:py-[6rem] lg:px-[10rem] h-full overflow-x-hidden">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgba(var(--accent)),
      rgba(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
    color: white;
    height: 100%;
    max-width: 100vw;
    background-color: black;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: row;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    border-radius: 0 0 10px 10px;
  }

  .custom-scrollbar-2::-webkit-scrollbar-thumb {
    background: #5e5e5e;
    border: 3px solid #0B0B0C;
    border-top: 10px solid #0B0B0C;
    border-bottom: 10px solid #0B0B0C;
  }
  
  .custom-scrollbar-2::-webkit-scrollbar {
    width: 10px;
  }
  
</style>

<Scripts />
